apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: cluster-apps
spec:
  generators:
    # - merge:
    #     mergeKeys:
    #       - chartReleaseName
    #     generators:
    - git:
        repoURL: https://github.com/burhanuguz/ansible-test.git
        revision: HEAD
        directories:
          - path: charts/*
    - clusters: {}
          # - git:
          #     repoURL: https://github.com/burhanuguz/ansible-test.git
          #     revision: HEAD
          #     files:
          #       - path: 'apps/{{ chartType }}/{{ chartReleaseName }}/values/{{ name }}.yaml'
  template:
    metadata:
      name: '{{ name }}-{{ path.basename }}'
    spec:
      destination:
        server: '{{ server }}'
        namespace: 'default'
      project: 'default'
      source:
        repoURL: 'https://github.com/burhanuguz/ansible-test.git'
        targetRevision: 'HEAD'
        helm:
          releaseName: '{{ path.basename }}'
          valueFiles:
            - '{{ path.basename }}-values.yaml'
            - '{{ name }}-{{ path.basename }}-values.yaml'
