apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: cluster-apps
spec:
  generators:
    # - matrix:
    #     generators:
    #       - matrix:
    #           generators:
    #           - clusters: {}
    #           - git:
    #               repoURL: https://github.com/burhanuguz/ansible-test.git
    #               revision: HEAD
    #               files:
    #                 - path: apps/*/*/*.yaml
    #       - git:
    #           repoURL: https://github.com/burhanuguz/ansible-test.git
    #           revision: HEAD
    #           files:
    #             - path: 'apps/infra/keycloak/values/in-cluster.yaml'
    # - merge:
    #     mergeKeys:
    #       - chart
    #       - chartReleaseName
    #       - chartRepository
    #       - chartType
    #       - chartVersion
    #       - values
    #     generators:
        # - git:
        #     repoURL: https://github.com/burhanuguz/ansible-test.git
        #     revision: HEAD
        #     files:
        #       - path: 'apps/{{ chartType }}/{{ path.basename }}/values/{{ name }}.yaml'
    - merge:
        mergeKeys:
          - values
          # - chart
          # - chartReleaseName
          # - chartRepository
          # - chartType
          # - chartVersion
          # - values
        generators:
        - clusters:
            values:
        - git:
            repoURL: https://github.com/burhanuguz/ansible-test.git
            revision: HEAD
            files:
              - path: apps/*/*/*.yaml
        - git:
            repoURL: https://github.com/burhanuguz/ansible-test.git
            revision: HEAD
            files:
              - path: 'apps/{{ chartType }}/{{ chartReleaseName }}/values/{{ name }}.yaml'
  template:
    metadata:
      name: '{{ name }}-test'
    spec:
      destination:
        server: '{{ server }}'
        namespace: '{{ namespace }}'
      project: 'default'
      source:
        chart: '{{ chart }}'
        repoURL: '{{ chartRepository }}'
        targetRevision: '{{ chartVersion }}'
        helm:
          releaseName: '{{ chartReleaseName }}'
          values: |
            {{ values }}
