apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: cluster-apps
spec:
  generators:
    - merge:
        mergeKeys:
          - chart
          - chart-release-name
          - chartRepository
          - chartType
          - chartVersion
          - values
        generators:
        - git:
            repoURL: https://github.com/burhanuguz/ansible-test.git
            revision: HEAD
            files:
              - path: 'apps/infra/keycloak/values/in-cluster.yaml'
              # - path: 'apps/{{ chartType }}/{{ path.basename }}/values/{{ name }}.yaml'
        - matrix:
            generators:
            - git:
                repoURL: https://github.com/burhanuguz/ansible-test.git
                revision: HEAD
                files:
                  - path: apps/*/*/*.yaml
            - clusters: {}
  template:
    metadata:
      name: '{{ name }}-{{ chartReleaseName }}'
    spec:
      destination:
        server: '{{ server }}'
        namespace: '{{ namespace }}'
      project: 'default'
      source:
        chart: '{{ chart }}'
        repoURL: '{{ chartRepository }}'
        targetRevision: '{{ chartVersion }}'
        helm:
          releaseName: '{{ chart-release-name }}'
          values: |
            {{ values }}
