apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: cluster-apps
spec:
  generators:
    # - merge:
    #     mergeKeys:
    #       - chartReleaseName
    #     generators:
    - git:
        repoURL: https://github.com/burhanuguz/ansible-test.git
        revision: HEAD
        directories:
          - path: charts/*
    - clusters: {}
          # - git:
          #     repoURL: https://github.com/burhanuguz/ansible-test.git
          #     revision: HEAD
          #     files:
          #       - path: 'apps/{{ chartType }}/{{ chartReleaseName }}/values/in-cluster.yaml'
  template:
    metadata:
      name: 'in-cluster-{{ path.basename }}'
    spec:
      destination:
        server: https://kubernetes.default.svc
        namespace: 'default'
      project: 'default'
      source:
        repoURL: 'https://github.com/burhanuguz/ansible-test.git'
        targetRevision: 'HEAD'
        path: '{{ path }}'
        helm:
          releaseName: '{{ path.basename }}'
          valueFiles:
            - '{{ path.basename }}-values.yaml'
            - 'in-cluster-{{ path.basename }}-values.yaml'
